:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #f9f9f9;
  }

  .tech-stack {
    background-color: #1e1e1e;
  }

  .tech-stack h1 {
    color: #2e63ef;
  }
  .tech-stack h2 {
    color: #f9f9f9;
    border-bottom: 2px solid #2e63ef;
  }

  .category {
    color: #f9f9f9;
  }

  .category:hover,
  .category.active {
    color: #2e63ef;
    border-bottom: 2px solid #2e63ef;
  }
  .content p {
    color: white;
  }
  .card {
    background-color: rgb(22, 19, 19);
    border: 1px solid #2e63ef;
  }
}

